<!-- Toolbar -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <i class="fas fa-rainbow"></i>
        {{ title }}
    </a>
  </nav>
  <br>
<div class="container">
  <body>
    <form (submit)="submitCodigo(CodigoCiudad)">
      <label><h6>Seleccionar ciudad</h6></label>
      <div class="form-inline form-group"  style="height: 50px;" >
        <select class="form-control col-xs-12 col-sm-6 col-md-8" id="cambio" name="">
          <option disabled selected>Elegir Ciudad</option>
          <option value="3601783">San Pedro Sula</option>
          <option value="2643743">Londres</option>
          <option value="2968815">Paris</option>
          <option value="5128638">Nueva York</option>
          <option value="1850147">Tokyo</option>
          <option value="2147714">Sydney</option>
          <option value="3435910">Buenos Aires</option>
          <option value="3451190">Rio de Janeiro</option>
          <option value="2950158">Berlín</option>
          <option value="5601538">Moscú</option>
          <option value="292223">Dubai</option>
        </select>
        <div class="form-group col-md-auto">
            <input id="codigo" type="text" placeholder="Codigo" class="form-control" #CodigoCiudad>
        </div>
        <div class="form-group col-lg-auto">
            <button class="btn btn-outline-primary" style="float:left;">Mostrar</button>
        </div>
      </div>
    </form>
    <div class="card">
      <div *ngIf="clima" class="card-header" style="text-align: center;">
              {{ clima.name }}
              <img src="http://openweathermap.org/img/w/{{ clima.weather[0].icon}}.png" alt="">
       </div>

      <div class="card-body">
          <ul class="list-group list-group-flush">
              <li *ngIf="clima" class="list-group-item">
                  <i class="far fa-sun"></i>
                  Temperatura: {{ clima.main.temp - 273.15 | number: '.2'}}°
              </li>
              <li *ngIf="clima" class="list-group-item">
                  <i class="fas fa-percent"></i>
                  Humedad: {{ clima.main.humidity }}%
              </li>
              <li *ngIf="clima" class="list-group-item">
                  <i class="fas fa-temperature-high"></i>
                  Temperatura máxima: {{ clima.main.temp_max - 273.15 | number: '.2'}}°
              </li>
              <li *ngIf="clima" class="list-group-item">
                  <i class="fas fa-temperature-low"></i>
                  Temperatura mínima: {{ clima.main.temp_min - 273.15 | number: '.2'}}°
              </li>
              <li  *ngIf="clima" class="list-group-item">
                  <i class="fas fa-cloud"></i>
                  Porcentaje de abundancia de nubes: : {{ clima.clouds.all }}
              </li>
          </ul>
      </div>
      </div>
  </body>

  <!-- Footer -->
  <footer>
      
  </footer>

</div>
<router-outlet></router-outlet>